/*   Buttons properties  */
/*-----------------------------------------*/
.save{
	background-image:url(../images/btn_save.png);
}

.save:hover{
	background-position: 0 -40px;
    cursor: pointer;
}

#btn_restart{
	background-image: url(../images/btn_restart3.png);
	height: 66px;
	width: 66px;
}
#btn_restart:hover{
	background-position: 0 -66px;
    cursor: pointer;
}

#btn_shutdown{
	background-image: url(../images/btn_shutdown3.png);
	height: 66px;
	width: 66px;
}
#btn_shutdown:hover{
	background-position: 0 -66px;
	cursor: pointer;
}

#add_user{
	background-image: url(../images/btn_ajout.png);
}
#add_user:hover{
	background-position: 0 -40px;
    cursor: pointer;
}
#add_sensor{
	background-image: url(../images/btn_ajout.png);
}
#add_sensor:hover{
	background-position: 0 -40px;
    cursor: pointer;
}
.deleteUser{
	background-image: url(../images/btn_remove.png);
	float:none;
	margin-left: 40px;
}

.deleteUser:hover{
	background-position: 0 -40px;
	cursor: pointer;
}


/******** General layout ***********/

input, select{
	color: #461A00;
	font-size: 1.8rem;
	margin-bottom: 0;
}

input.button{
	background-color: #009192;
	color:  white;
	border-color: #009192;
}

.cadre{
	border: 1px solid white;
	border-radius: 10px;
	margin-bottom: 1em;
	padding: 1em;
}

/******** Positioning ***********/

/* # TODO */
.settingFrame {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.verticalFrame {
	margin-left: 1rem;
	margin-right: 1rem;
	flex-basis: 8rem;
	flex-grow: 2;
	display:flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
}

.rangeLine {
	flex-grow: 2;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-end;
}
.settingFrame > h3 {
	padding-left: 3rem;
	flex-basis: 12rem;
	flex-grow:1;
	/* flex-shrink: 2; */
	margin-right: 2rem;
}

.toggleUnSelect {
    background-image: url(../images/btn_checkBox_white.png);
    background-repeat: no-repeat;
    float: right;
    width: 40px;
}

.toggleSelect{
	background-image: url(../images/btn_checkBox_white.png);
	background-repeat:no-repeat;
	float:right;
	width:40px;
	background-position: -118px 0px;
}

.checkbox:hover {
    background-position: -59px 0;
    cursor: pointer;
}
input{
	margin-top: 0px;
}
input[type="checkbox"] {
	width: 15rem;
}

.sensorElement {
	display: inherit;
	width: 15rem;
	flex-shrink: 0;
	flex-grow: 3;
}

/* .settingFrame > input {
	width:12rem;
} */

.inputSensor {
	width: 12rem;
	flex-basis: auto;
}
