/*   Buttons properties  */
/*-----------------------------------------*/
.save{
	background-image:url(../images/btn_save.png);
}

.save:hover{
	background-position: 0 -40px;
    cursor: pointer;
}

#btn_restart{
	background-image: url(../images/btn_restart3.png);
	height: 66px;
	width: 66px;
}
#btn_restart:hover{
	background-position: 0 -66px;
    cursor: pointer;
}

#btn_shutdown{
	background-image: url(../images/btn_shutdown3.png);
	height: 66px;
	width: 66px;
}
#btn_shutdown:hover{
	background-position: 0 -66px;
	cursor: pointer;
}

#add_user{
	background-image: url(../images/btn_ajout.png);
}
#add_user:hover{
	background-position: 0 -40px;
    cursor: pointer;
}

.deleteUser{
	background-image: url(../images/btn_remove.png);
	float:none;
	margin-left: 40px;
}

.deleteUser:hover{
	background-position: 0 -40px;
	cursor: pointer;
}


/******** General layout ***********/

input, select{
	color: #461A00;
	font-size: 1.8rem;
}

input.button{
	background-color: #009192;
	color:  white;
	border-color: #009192;
}

.cadre{
	border: 1px solid white;
	border-radius: 10px;
	margin-bottom: 1em;
	padding: 1em;
}

/******** Positioning ***********/

# TODO
