/* @override http://localhost:8888/nichoir/css/style2.css */


/******** GENERAL *********/
body {
	background-color: grey;
	color: white;
	background-image: url(../images/Melamine-wood-004.png);
}

@keyframes animation_menu {
		from{background-color:#009192;}
    to {
			background-color: white;
		}
}

/******  HEADER + NAV menu***************/
header{
	padding-top:.8rem;
}
#header_icon{
	background: url("../images/logo_nichoir.png") no-repeat;
	background-size: contain;
	display:block;
	height:100px;
	margin-bottom: 1.8rem;
}
#headertag{
	display: block;
	float: right;
	text-align: right;
}
.menu{
	width: 100%;
	height: 40px;
}
ul.menu {
	list-style-type:none;
	margin: 0;
}
li.menu {
	float:left;
}
li.right{
	float: right;
}
.menuitem {
	color:white;

	font-size: 2rem;
	background-color: #009192;
	text-decoration: none;
	text-align:center;
	display:block;
	float:left;
	padding-right: 10px;
	padding-left: 10px;
	text-transform: none;
	font-variant: small-caps;
}
.menuitem:hover {
	background-color:white;
	animation: animation_menu 1s;
/*background: -moz-radial-gradient(center, ellipse cover, #f0f9ff 0%, #cbebff 25%, #16dddf 100%);
background: -webkit-radial-gradient(center, ellipse cover, #f0f9ff 0%,#cbebff 25%,#16dddf 100%);
background: radial-gradient(ellipse at center, #f0f9ff 0%,#cbebff 25%,#16dddf 100%);*/

}
.prems{
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.der{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.selected{
	background-color: #074546;
}
.menu_icon{
	display:inline-block;
	width: 100%;
	height:30px;
	display: block;
	margin-top:.5rem;
}

#home_icon{
	background: url(../images/dashboard.png) no-repeat;
	background-size: contain;
	background-position: center center;

}
#donnees_icon{
	background: url(../images/donnees.png) no-repeat;
	background-size: contain;
	background-position: center center;

}
#informations_icon{
	background: url(../images/info.png) no-repeat;
	background-size: contain;
	background-position: center center;

}
#reglages_icon{
	background: url(../images/reglages.png) no-repeat;
	background-size: contain;
	background-position: center center;

}
/******* CAMERA ***********/
.camera{
	width:100%;
	border-radius:10px;
	border: 3px solid #461A00;
}

/******** SENSOR DATA **********/
#sensors{
	border-radius:10px;
	margin-bottom: .8rem;
	padding: .3rem;
	background: -moz-linear-gradient(top, #f2f5f6 0%, #e3eaed 14%, #009192 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f2f5f6 0%,#e3eaed 14%,#009192 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f2f5f6 0%,#e3eaed 14%,#009192 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.valeur{
	min-width:30%;
	text-align:center;
	margin-top:1rem;
	margin-bottom:1rem;
	text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}
.label{
	text-align: center;
	color: #9F1077;
}
.separateur{
	border-bottom: 1px solid #9F1077;
}
.icone{
	display: block;
	text-align:center;
	max-width:230px;
  	max-height:95px;
 	width: auto;
  	height: auto;
}


@media(min-width: 150px){
	#sensors{
		float:left;
		width:30%;
		margin-left: .8rem;


	}
	.menuitem {
		font-size:1rem;
		padding-right: 8px;
		padding-left: 8px;
	}

	#header_icon{
		height:50px;
		margin-bottom: 1.8rem;
		width: 30%;
	}
	#headertag{
		font-size:.5rem;
		width: 30%;
	}
	.label{
	width: 30.6666666667%;
	font-size: .5em;
	}
	.icone{
	width: 26%;
	display:none;

}
	.valeur{
	width: 35.66%;

}
}

@media(min-width: 450px){

	.menuitem {
		font-size:1.6rem;
		padding-right: 8px;
		padding-left: 8px;
	}
	#header_icon{
		height:100px;
		margin-bottom: 1.8rem;
	}
	#headertag{
		font-size:1.2rem;
	}
	.icone{
	width: 26%;
	display:block;

}
}

@media(min-width:575px){
	#sensors{
			margin-left: 2rem;
			float: right;

}
	.menuitem {
		font-size:2rem;
		padding-right: 8px;
		padding-left: 8px;

	}
	#sensors{
		min-height:  60px;
	}
	.valeur{
		font-size: 2rem;
	}
	.label{
		font-size: 1rem;
	}
	.icone{
		padding-top: .3rem;
	}

}

@media(min-width:750px){
	.menuitem {
		font-size:2.2rem;
		padding-right: 10px;
		padding-left: 10px;
	}
	#sensors{
		min-height:  60px;
	}
	.valeur{
		font-size: 2.4rem;
	}
	.label{
		font-size: 1.6rem;
	}
	.icone{
		padding-top: .7rem;
	}
}

@media(min-width:850px){
	.menuitem{
		font-size: 2.4rem;
	}
	#sensors{
		min-height:  60px;
	}
	.valeur{
		font-size: 3rem;
	}
	.label{
		font-size: 2rem;
	}
	.icone{
		padding-top: 1.2rem;
	}
}

@media(min-width:1050px){
	.menuitem{
		font-size: 2.8rem;
	}
	#sensors{
		min-height:  60px;
	}
	.valeur{
		font-size: 3.6rem;
	}
	.label{
		font-size: 2.4rem;
	}
	.icone{
		padding-top: 1.8rem;
	}
}
